# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://johnmaxwell:@localhost/codeaudit"

ORIGIN="http://localhost:7173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="14cccad3-ad09-42e2-bf2e-5732b207f505"
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
